@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~src/assets/css/mixins";


.bioInfo {
	h6 {
		font-size: 14px;
		font-family: $font-family;
		text-transform: uppercase;
		letter-spacing: 2.1px;
		font-weight: normal;
		margin-bottom: 12px;
		color: $header-color;
	}

	h4 {
		font-size: 16px;
		font-weight: 500;
		font-family: $font-family;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: $header-color;
	}

	 h3 {
		font-size: 48px;
		text-transform: uppercase;
		margin-bottom: 15px;
		color: $header-color;
	}

	 p {
		font-family: $font-family;
		max-width: 540px;
		color: $normal-color;
		margin-bottom: 40px;
	}

	@include media-breakpoint-down(lg) {
		padding-left: 0;
	}
}

.basicInfo li {
	margin-bottom: 15px;
	position: relative;
	padding-left: 40px;
	font-size: $font-size;
	color: $normal-color;

	&:last-child {
		margin-bottom: 0px;
	}

	a {
		color: $normal-color;
	}

	i {
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #00b050;
	}
}


.personalSocial {
	margin-top: 45px;

	li {
		display: inline-block;
		margin-right: 7px;

		&:last-child {
			margin-right: 0px;
		}

		&:hover a {
			@include bg-gradient();
		}

		a {
			line-height: 40px;
			width: 40px;
			background: #bebebe;
			border-radius: 5px;
			display: inline-block;
			text-align: center;
			color: #fff;
			font-size: $font-size;
		}
	}

}
