
.timeline {
	max-width: 460px;
	margin: auto;
	position: relative;
	padding-top: 40px;
	padding-bottom: 60px;

	&::before {
		content: "";
		height: 100%;
		width: 5px;
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		left: 46%;
		transform: translateX(-50%);
		top: -5px;
	}

	li {
		margin-bottom: 60px;
		position: relative;

		span {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			display: block;
			background: rgba(255, 255, 255, 0.2);
			position: absolute;
			left: 46%;
			top: 30px;
			transform: translateX(-50%);

			&:before {
				content: '';
				height: 7px;
				width: 7px;
				background: #fff;
				border-radius: 50%;
				position: absolute;
				left: 52%;
				top: 4px;
				transform: translateX(-50%);
			}
		}

		&:last-child {
			margin-bottom: 0px;
		}

		.when {
			margin-right: 70px;
			padding-right: 50px;
			text-align: right;
			width: 195px;

			p {
				color: rgba(255, 255, 255, 0.75);
				margin-bottom: 0px;
				padding-top: 20px;
			}
		}


		:global .media .media-body {
			h4 {
				color: #fff;
				font-size: 21px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			p {
				color: rgba(255, 255, 255, 0.75);
				margin-bottom: 0px;
			}
		}
	}
}