@import "~bootstrap/scss/bootstrap";
@import "~src/assets/css/mixins";

html {
	font-size: $font-size;
}

.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	transition: color 0.5s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}
}


body {
	line-height: 26px;
	font-size: 1rem;
	font-family: $font-family;
	font-weight: normal;
	color: $normal-color;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: bold;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.p_120 {
	padding-top: 120px;
	padding-bottom: 120px;
}

.highlight-area {
	@include bg-gradient();
}

@include media-breakpoint-up(xl) {
// @media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (min-width: 1620px) {
	.box_1620 {
		max-width: 1620px;
		margin: auto;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.main-title {
	text-align: center;
	max-width: 670px;
	margin: 0px auto 75px;
}

.main-title h2 {
	font-size: 36px;
	color: #222222;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.main-title p {
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
	color: #777777;
	margin-bottom: 0px;
}

.main-btn {
	box-shadow: none !important;
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to right, $gradient-color-from 0%, $gradient-color-to 48%, $gradient-color-from 100%);
	background-size: 200% auto;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 48px;
	outline: none !important;
	padding: 0px 40px;
	text-align: center;
	transition: all 300ms linear 0s;

	&:hover {
		background-position: right center;
		color: #FFFFFF;
	}
}
